<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title>Create education form</title>
</head>
<body>
<div layout:fragment="content" class="w-50 p-2 mx-auto">
    <h1>Create new education form</h1>
    <br>
    <form th:method="POST" th:action="@{/education-forms}" th:object="${educationForm}" class="needs-validation">
        <div class="form-floating mb-3">
            <input class="form-control" th:field="*{name}" id="name"/>
            <label for="name">Enter education form name: </label>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Add education form"/>
        <br><br>
    </form>
    <a href="/education-forms">
        <button class="btn btn-primary">Back to all education forms page</button>
    </a>
</div>
</body>
</html>