<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title>Group's info</title>
</head>
<body>
<div layout:fragment="content" class="w-75 p-3 mx-auto">
    <h1>Group information</h1>
    <br>
    <div class="mb-2 row">
        <label for="groupName" class="col col-form-label">Group name:</label>
        <div class="col">
            <input type="text" readonly class="form-control-plaintext text-center" id="groupName"
                   th:value="${group.name}"/>
        </div>
    </div>
    <div class="mb-4 row">
        <label for="facultyName" class="col col-form-label">Faculty:</label>
        <div class="col">
            <a th:href="${group.faculty.id == 0} ? '#' : @{/faculties/{id}(id=${group.faculty.id})}">
                <input type="text" readonly class="form-control-plaintext text-center" id="facultyName"
                       th:value="${group.faculty.id == 0} ? 'faculty not selected' : ${group.faculty.name}"/>
            </a>
        </div>
    </div>
    <div class="mb-4 row">
        <label for="headStudent" class="col col-form-label">Head Student:</label>
        <div class="col">
            <a th:href="${group.headStudent.id == 0} ? '#' : @{/students/{id}(id=${group.headStudent.id})}">
                <input type="text" readonly class="form-control-plaintext text-center" id="headStudent"
                       th:value="${group.headStudent.id == 0} ? 'student not selected' :
                       ${group.headStudent.firstName + ' ' + group.headStudent.lastName}"/>
            </a>
        </div>
    </div>
    <div class="mb-4 row">
        <label for="educationFormName" class="col col-form-label">Education form:</label>
        <div class="col">
            <a th:href="${group.educationForm.id == 0} ? '#' : @{/education-forms/{id}(id=${group.educationForm.id})}">
                <input type="text" readonly class="form-control-plaintext text-center" id="educationFormName"
                       th:value="${group.educationForm.id == 0} ? 'faculty not selected' : ${group.educationForm.name}"/>
            </a>
        </div>
    </div>
    <div class="mb-2 row">
        <label for="students" class="col col-form-label">Students from group:</label>
        <div class="col col-form-label">
            <ul th:each="student : ${students}">
                <a th:href="@{/students/{id}(id=${student.id})}">
                    <li th:text="${student.firstName + ' ' + student.lastName}" id="students"/>
                </a>
            </ul>
        </div>
    </div>
    <div class="mb-2 row">
        <label for="teachers" class="col col-form-label">Group's teachers list:</label>
        <div class="col col-form-label">
            <ul th:each="teacher : ${teachers}">
                <a th:href="@{/teachers/{id}(id=${teacher.id})}">
                    <li th:text="${teacher.firstName + ' ' + teacher.lastName}" id="teachers"/>
                </a>
            </ul>
        </div>
    </div>
    <br><br>
    <div class="mb-4 row">
        <a th:href="@{/groups/{id}/edit(id=${group.id})}">
            <button class="btn btn-primary">Edit group information</button>
        </a>
    </div>
    <form th:method="GET" th:action="@{/lessons/group}" class="w-50 mb-4 mx-auto">
        <input type="hidden" th:name="groupId" th:value="${group.id}"/>
        <input class="btn btn-primary" type="submit" value="Show lessons relate to group"/>
    </form>
    <div class="mb-4 row">
        <a href="/groups">
            <button class="btn btn-primary">Back to all groups page</button>
        </a>
    </div>
    <div class="mb-4 row">
        <form th:method="DELETE" th:action="@{/groups/{id}(id=${group.id})}" th:object="${group}">
            <input class="btn btn-danger" type="submit" value="Delete group"/>
        </form>
    </div>
</div>
</body>
</html>