<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title>Create department</title>
</head>
<body>
<div layout:fragment="content" class="w-50 p-2 mx-auto">
    <h1>Create new department</h1>
    <br>
    <form th:method="POST" th:action="@{/departments}" th:object="${department}" class="needs-validation">
        <div class="form-floating mb-3">
            <input class="form-control" th:field="*{name}" id="name"/>
            <label for="name">Enter department name: </label>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Write description here:</label>
            <textarea th:field="*{description}" class="form-control" id="description" rows="3"></textarea>
        </div>
        <div th:each="course : ${courses}">
            <input class="form-check-input" type="checkbox" th:value="${course.id}"
                   th:id="${'course_' + course.id}"
                   th:name="courseIds">
            <label class="form-check-label mb-2" th:for="${'course_' + course.id}" th:text="${course.name}"/>
            <br>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Add department"/>
        <br><br>
    </form>
    <a href="/departments">
        <button class="btn btn-primary">Back to all departments page</button>
    </a>
</div>
</body>
</html>