<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8"/>
    <title>University home</title>
</head>
<body>
<div layout:fragment="content">
    <h1>University</h1>
    <p>The university web site is designed to allow users to manage data related to various entities within an
        educational institution. Users can create, read, update, and delete information about courses, departments,
        education forms, faculties, groups, lesson types, lessons, students, teachers, and teacher titles.
        The web site helps to keep information organized and up to date, making it easy for users to manage different
        entities within the university.</p>
</div>
</body>
</html>
