<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title>Edit course</title>
</head>
<body>
<div layout:fragment="content" class="w-75 p-2 mx-auto">
    <h1>Edit course information</h1>
    <br>
    <form th:method="PATCH" th:action="@{/courses/{id}(id=${course.id})}" th:object="${course}">
        <div class="form-floating mb-3">
            <input class="form-control" th:field="*{name}" id="name"/>
            <label for="name">Edit name: </label>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Write description here:</label>
            <textarea th:field="*{description}" class="form-control" id="description" rows="3"></textarea>
        </div>
        <br>
        <input class="btn btn-success" type="submit" value="Update course information"/>
        <br><br>
    </form>
    <br>
    <br>
    <a href="/courses">
        <button class="btn btn-primary">Back to all courses page</button>
    </a>
    <br>
</div>
</body>
</html>