<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title>Course's info</title>
</head>
<body>
<div layout:fragment="content" class="w-50 p-3 mx-auto">
    <h1>Course information</h1>
    <br>
    <div class="mb-2 row">
        <label for="name" class="col col-form-label">Name:</label>
        <div class="col">
            <input type="text" readonly class="form-control-plaintext text-center" id="name"
                   th:value="${course.name}"/>
        </div>
    </div>
    <div class="mb-2 row">
        <label for="description" class="form-label">Course's description:</label>
        <div class="col">
            <span type="text" readonly class="form-control-plaintext text-center" id="description"
                   th:text="${course.description}"/>
        </div>
    </div>
    <br><br>
    <div class="mb-4 row">
        <a href="/courses">
            <button class="btn btn-primary">Back to all courses page</button>
        </a>
    </div>
    <div class="mb-4 row">
        <a th:href="@{/courses/{id}/edit(id=${course.id})}">
            <button class="btn btn-primary">Edit course information</button>
        </a>
    </div>
    <div class="mb-4 row">
        <form th:method="DELETE" th:action="@{/courses/{id}(id=${course.id})}" th:object="${course}">
            <input class="btn btn-primary" type="submit" value="Delete course"/>
        </form>
    </div>
</div>
</body>
</html>