<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title>Create lesson type</title>
</head>
<body>
<div layout:fragment="content" class="w-50 p-2 mx-auto">
    <h1>Create new lesson type</h1>
    <br>
    <form th:method="POST" th:action="@{/lesson-types}" class="needs-validation">
        <div class="form-floating mb-3">
            <input class="form-control" th:name="name" id="name"/>
            <label for="name">Enter lesson type name: </label>
        </div>
        <br>
        <h5>Choose lesson duration:</h5>
        <br>
        <select class="form-select mb-3" th:name="duration">
            <option th:value="45">45 minutes</option>
            <option th:value="60">1 hour 0 minutes</option>
            <option th:value="90">1 hour 30 minutes</option>
            <option th:value="120">2 hours 0 minutes</option>
        </select>
        <br>
        <input class="btn btn-primary" type="submit" value="Add lesson type"/>
        <br><br>
    </form>
    <a href="/lesson-types">
        <button class="btn btn-primary">Back to all lesson types page</button>
    </a>
</div>
</body>
</html>